# Fichier requirements.txt pour le projet Serre Connectée

# Pour l'API Web
Flask>=2.0.0

# Pour la connexion à la base de données PostgreSQL
psycopg2-binary>=2.9.0

# Pour l'interface matérielle sur Raspberry Pi
lgpio>=0.2.0.0         # Pour le contrôle GPIO (remplace RPi.GPIO)
Adafruit-Blinka>=7.0.0  # Couche de compatibilité CircuitPython pour Raspberry Pi (pour les capteurs I2C/SPI)
adafruit-circuitpython-scd30>=2.0.0 # Pour le capteur de CO2, température, humidité SCD30

# Pour les tests (optionnel, mais fortement recommandé)
pytest>=7.0.0           # Framework de test
pytest-mock>=3.0.0      # Pour faciliter la simulation (mocking) lors des tests

# Autres bibliothèques que vous pourriez ajouter ultérieurement :
# requests
# pydanticflask
fastapi
uvicorn[standard]
